// Fonts
$primaryFont: 'Merriweather', serif;
$secondaryFont: 'Merriweather Sans', sans-serif;
$colorFont: #484848;


// Media Device Breakpoints
$large-mobile         : 570px;
$tablet               : 768px;
$desktop              : 960px;
$large-desktop        : 1280px;
